<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /5b232/g4/reflejos_web
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f 
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /5b232/g4/reflejos_web/index.html [L]
</IfModule>